[submodule "deps/FSKitSample"]
	path = deps/FSKitSample
	url = https://github.com/KhaosT/FSKitSample.git
[submodule "deps/poof"]
	path = deps/poof
	url = https://github.com/Jarred-Sumner/poof
[submodule "deps/agentfs"]
	path = deps/agentfs
	url = https://github.com/tursodatabase/agentfs.git
